<h2>{{i18n 'admin.zendesk.credentials_title'}}</h2>
<hr>
<h3>{{i18n 'admin.zendesk.username'}}</h3>
<div>
  {{text-field value=zendeskUsername}}
  {{setting-validation-message message=validationMessage}}
</div>
<h3>{{i18n 'admin.zendesk.token'}}</h3>
<div>
  {{password-field value=zendeskToken}}
  {{setting-validation-message message=validationMessage}}
</div>
{{d-button label="admin.zendesk.settings.save_button"
           action="save"
           icon="check"
           disabled=dirty}}
{{#if notEmpty }}
{{d-button label="admin.zendesk.settings.reset_button"
           action="reset"
           icon="refresh"}}
{{/if}}
<hr>
{{#if zendeskUrl}}
  <i>
    {{i18n 'zendesk.current_url' url=zendeskUrl}}
  </i>
{{else}}
  {{i18n 'zendesk.url_not_set'}}
{{/if}}
<br>
<i>
  {{i18n 'zendesk.set_url_text'}}
  {{#link-to 'adminSiteSettingsCategory' 'plugins'}}
    {{i18n 'admin.site_settings.title'}}
  {{/link-to}}
</i>
